.resume-container {
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    background-color: #213547;
    text-align: center;
    align-items: center;
    align-content: center;
    min-width: 400px
    
}